.container > .course:hover {
  background-color: #ffffff;
  border-radius: 40px;
}

.d{border-color: #FF7E35 !important; color: #FF7E35 !important;}    
.dPlus{border-color: #FFAE35 !important; color: #FFAE35 !important;}
.c{border-color: #FFEB35 !important; color: #FFEB35 !important;}
.cPlus{border-color: #D7FF35 !important; color: #D7FF35 !important;}
.b{border-color: #76FF35 !important; color: #76FF35 !important;}
.bPlus{border-color: #35FFC2 !important; color: #35FFC2 !important;}
.a{border-color: #35E7FF !important; color: #35E7FF !important;}
.aPlus{border-color: #35B6FF !important; color: #35B6FF !important;}
/*hovers*/
.f:hover{box-shadow: 0px 0px 5px #FF3535 !important;}
.d:hover{box-shadow: 0px 0px 5px #FF7E35 !important;}    
.dPlus:hover{box-shadow: 0px 0px 5px #FFAE35 !important;}
.c:hover{box-shadow: 0px 0px 5px#FFEB35 !important;}
.cPlus:hover{box-shadow: 0px 0px 5px #D7FF35 !important;}
.b:hover{box-shadow: 0px 0px 5px #76FF35 !important;}
.bPlus:hover{box-shadow: 0px 0px 5px #35FFC2 !important;}
.a:hover{box-shadow: 0px 0px 5px #35E7FF !important;}
.aPlus:hover{box-shadow: 0px 0px 5px #35B6FF !important;}
/*activated marks*/
.fActive{background-color: #FF3535 !important; color: white !important;}
.dActive{background-color: #FF7E35 !important; color: white !important;}
.dPlusActive{background-color: #FFAE35 !important; color: white !important;}
.cActive{background-color: #FFEB35 !important; color: white !important;}
.cPlusActive{background-color: #D7FF35 !important; color: white !important;}
.bActive{background-color:#76FF35 !important; color: white !important; }
.bPlusActive{background-color: #35FFC2 !important; color: white !important;}
.aActive{background-color: #35E7FF !important; color: white !important;}
.aPlusActive{background-color: #35B6FF !important; color: white !important;}